<h1>Listing senior_checklists</h1>

<table>
  <thead>
    <tr>
      <th>Month</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @senior_checklists.each do |senior_checklist| %>
      <tr>
        <td><%= senior_checklist.month %></td>
        <td><%= link_to 'Show', senior_checklist %></td>
        <td><%= link_to 'Edit', edit_senior_checklist_path(senior_checklist) %></td>
        <td><%= link_to 'Destroy', senior_checklist, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Senior checklist', new_senior_checklist_path %>
