<h1>Listing graduation_requirements</h1>

<table>
  <thead>
    <tr>
      <th>Year</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @graduation_requirements.each do |graduation_requirement| %>
      <tr>
        <td><%= graduation_requirement.year %></td>
        <td><%= graduation_requirement.description %></td>
        <td><%= link_to 'Show', graduation_requirement %></td>
        <td><%= link_to 'Edit', edit_graduation_requirement_path(graduation_requirement) %></td>
        <td><%= link_to 'Destroy', graduation_requirement, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Graduation requirement', new_graduation_requirement_path %>
