<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @school.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @school.address %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @school.contact %>
</p>

<div id="counselors">
      <h2>Counselors</h2>
  <% @school.counselors.each do |counselor| %>
      <h4><%= link_to counselor.name, counselor %>
      <%= simple_format(counselor.bio) %></h4>
  <% end %>
</div>

<%= link_to 'Edit', edit_school_path(@school) %> |
<%= link_to 'Back', schools_path %>
