<%= form_for(@location) do |f| %>
  <% if @location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@location.errors.count, "error") %> prohibited this location from being saved:</h2>

      <ul>
      <% @location.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :school %><br>
    <%= f.text_field :school %>
  </div>
  <div class="field">
    <%= f.label :test_code %><br>
    <%= f.text_field :test_code %>
  </div>
  <div class="field">
    <%= f.label :high_school_code %><br>
    <%= f.text_field :high_school_code %>
  </div>
  <div class="field">
    <%= f.label :test_date_id %><br>
    <%= f.text_field :test_date_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
