<p id="notice"><%= notice %></p>

<p>
  <strong>School:</strong>
  <%= @location.school %>
</p>

<p>
  <strong>Test code:</strong>
  <%= @location.test_code %>
</p>

<p>
  <strong>High school code:</strong>
  <%= @location.high_school_code %>
</p>

<p>
  <strong>Test date:</strong>
  <%= @location.test_date %>
</p>

<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
